# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
  - List popular languages for Data Science
  - Some of the commonly used libraries used by Data Scientists
  - List some data science tools
  - evaluating arithmetic expressions in Python
  - Creating ordered and unordered table lists.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java
5. Julia
6. Scala

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib
4. SciPy
5. PyTorch
6. Keras
7. SciKit-Learn
8. TensorFlow.

|Data Science Tools|
|------------------|
|JupyterNotebooks|
|RStudio|
|Apache Zeppline|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
Solomon John